<div class="forgot_password">
        <div class="fogot_logo">
            <a href="index.html">Dino Account</a>
        </div>
        <div class="fogot_form">
            <form method="post" name="contactForm" action="/user/change-your-password" onsubmit="return validateForm()" class="form_in">
                <h2>Đổi mật khẩu</h2>
                <br>
                <input type="password" id="password" placeholder="Nhập mật khẩu mới" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Phải chứa ít nhất một số và một chữ cái viết hoa và viết thường và ít nhất 8 ký tự trở lên" required>
                <input type="password" id="confirm_password" placeholder="Xác nhận mật khẩu mới" name="confirm_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Phải chứa ít nhất một số và một chữ cái viết hoa và viết thường và ít nhất 8 ký tự trở lên" required>
                <button type="submit" class="submit_dn">Đổi mật khẩu<a href="/log-out"></a></button>
            </form>
        </div> 
        <div id="message">
          <h3>Mật khẩu phải chứa những điều sau:</h3>
          <p id="letter" class="invalid"> Một chữ cái <b>viết thường</b> </p>
          <p id="capital" class="invalid"> Một chữ cái <b>viết hoa</b> </p>
          <p id="number" class="invalid">Một <b>số</b></p>
          <p id="length" class="invalid">Có ít nhất <b>6 kí tự</b></p>
        </div>
    </div>

<script>
var myInput = document.getElementById("password");
var myInput1 = document.getElementById("confirm_password");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");

// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("message").style.display = "block";
}

// When the user clicks outside of the password field, hide the message box
myInput.onblur = function() {
  document.getElementById("message").style.display = "none";
}

// When the user starts to type something inside the password field
myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {  
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
  }
  
  // Validate capital letters
  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {  
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }

  // Validate numbers
  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {  
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }
  
  // Validate length
  if(myInput.value.length >= 6) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
}

function validateForm() {
    var password = document.forms["contactForm"]["password"].value;
    // var sname = document.getElementById("sname").value;
    var confirm_password = document.forms["contactForm"]["confirm_password"].value;

    if (confirm_password == null || confirm_password == "" || confirm_password != password) {
        alert("Mật khẩu không khớp");
        return false;
    }
}
</script>


<style>
/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
}


/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
</style>

