<div class="forgot_password">
        <div class="fogot_logo">
            <a href="index.html">Dino Account</a>
        </div>
        <div class="fogot_form">
            <form class="form_in" method="post" action="/user/check-password">
                <h2>Xác nhận mật khẩu</h2>
                <br>
                <input type="password" placeholder="Nhập mật khẩu cũ" id="password" name="password" class="in_email">
                <label for="" style="color:red">{{checkPassword}}</label>
                <button type="submit" class="submit_dn">Xác nhận</button>
            </form>
        </div>
        
    </div>