
        <div class="header_login">
            <h1>Xác nhận email</h1>
            <hr>
            <label for="email"><b></b></label>
                <input type="text" placeholder="Nhập email" name="email" id="email">{{user.email}}
            <label for="password"><b></b></label>
        </div>
